language: python
env:
#  - TOX_ENV=py26
  - TOX_ENV=py27
#  - TOX_ENV=py33
#  - TOX_ENV=py34
  - TOX_ENV=pypy
before_install:
  - pip install -U pip
install:
  - pip install tox
  - pip install peewee
  - pip install Eve
script:
  - tox -e $TOX_ENV
services:
  - sqlite3
branches:
  only:
    - master
